.main {

    .container {
        transition: $transition;

        .home {
            
            .container {

                .home__container {
                    padding: .5rem 1rem 0 1rem;
                    height: 85vh;
                    box-shadow: $shadow3;
                    background: $dark-color;
                    border-radius: .5rem;
                }
            }
        }

        .about {
            
            .container {

                .about__container {
                    padding: .5rem 1rem;
                    height: 80vh;
                    box-shadow: $shadow3;
                    background: $dark-color;
                    border-radius: .5rem;
                }
            }
        }

        .tecnology {
            
            .container {

                .tecnology__container {
                    padding: .5rem 1rem;
                    height: 80vh;
                    box-shadow: $shadow3;
                    background: $white-color;
                    border-radius: .5rem;
                }
            }
        }

        .portfolio {
            
            .container {

                .portfolio__container {
                    padding: .5rem 1rem;
                    height: 80vh;
                    box-shadow: $shadow3;
                    background: $white-color;
                    border-radius: .5rem;
                }
            }
        }

        .contact {
            
            .container {

                .contact__container {
                    padding: .5rem 1rem;
                    height: 80vh;
                    box-shadow: $shadow3;
                    background: $white-color;
                    border-radius: .5rem;
                }
            }
        }

        .footer {
            
            .container {

                .footer__container {
                    padding: .5rem 1rem;
                }
            }
        }
    }
}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .main {

        .container {
    
            .home {
                margin-block-start: 4rem;

                .container {

                    .home__container {
                        height: 78vh;
                    }
                }
            }

            .about {

                .container {

                    .about__container {
                        height: 78vh;
                    }
                }
            }

            .tecnology {

                .container {

                    .tecnology__container {
                        height: 78vh;
                    }
                }
            }

            .portfolio {

                .container {

                    .portfolio__container {
                        height: 78vh;
                    }
                }
            }

            .contact {

                .container {

                    .contact__container {
                        height: 78vh;
                    }
                }
            }
        }
    }

}


/*==========Media Query==========*/
@media (max-width: 1024px) {
    .main {

        .container {

            .about {

                .container {

                    .about__container {
                        background: $white-color;
                        height: auto;
                    }
                }
            }
        }
    }

}